.cart_container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    color:white;
}

h1 {
    margin-left: 2.5rem;
}

.cart_info_buttons{
    display: flex;
    flex-direction: row
}

.cart_img{
    display: block;
    border-radius: 0.2rem;
    margin: 0.6rem;
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    object-position: center center;
}

.cart_info{
    max-height: 45rem;
}

.card_container_one{
    display: flex;
    flex-direction: row;
    background-image: url('../../img/PRODDET.png');
    background-size: cover;
    margin: 1rem;
    border-radius: 0.2rem;
}

.card_container_two{
    display: flex;
    flex-direction: row;
    background-image: url('../../img/PRODDET2.png');
    background-size: cover;
    margin: 1rem;
    border-radius: 0.2rem;
}

.card_container_three{
    display: flex;
    flex-direction: row;
    background-image: url('../../img/PRODDET3.png');
    background-size: cover;
    margin: 1rem;
    border-radius: 0.2rem;
}

.sin_carrito{
    font-size: x-large;
}

.cart_container label{
    font-size: 1.2rem;
    text-shadow: -1px 1px 0 rgb(71, 70, 70);
}

.cart_container h2{
    text-shadow: -1px 1px 0 rgb(71, 70, 70);
}

.cart_container h3{
    text-shadow: -1px 1px 0 rgb(71, 70, 70);
    margin: 0.4rem;
}

.cart_container_column{
    display: flex;
    flex-direction: row;
}

.summary{
    margin-top: 1rem;
    margin-left: 2rem;
    height: 20rem;
    width: 10rem;
    text-align: center;
    background-image: url('../../img/PRODSUM.png');
    background-size: auto;
    border-radius: 0.5rem;
}

.summary_text{
    margin-top: 5rem;
}

.no_items{
    color:black;
    margin-top: 3rem;
    font-size: xx-large;
}