.catalogue_container{
    margin-top: 1.5rem;
    display: -webkit-flex; 
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly; 
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.next{
    position: fixed;
    bottom: 2rem;
    right: 35rem;
    z-index: 100;
}
.prev{
    position: fixed;
    bottom: 2rem;
    right: 45rem;
    z-index: 100;
}