.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
}

.catalogue_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.catalogue_buttons button{
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1rem;
}