.carousel_component img {
    display: block;
    margin-right: -15rem;
    border-radius: 0.2rem;
    margin: 0.6rem;
    height: 29rem;
    width: 30rem;
    object-fit: cover;
    object-position: center center;
}