.summary_2{
    height: 20rem;
    width: 10rem;
    text-align: center;
    background-image: url('../../img/PRODSUM.png');
    background-size: auto;
    border-radius: 0.5rem;
    position: absolute;
    margin-top: -38rem;
}

.summary_text_2{
    margin-top: 4rem;
    color:white;
}