.cart_total_items{
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: -25em;
    position: relative;
}

.cart_prods_10{
    width: 65rem;
}

.cart_total_div{
    position: fixed;
    right: 0;
    margin-right: 27em;
    margin-bottom: 23.2em;
}

.delete_cart_btn{
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 6px;
    font-weight: 1200;
    transition: 0.3s;
    height: 3rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 1000;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 28.2em;
}

.delete_cart_btn:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.158);
    transform: translateY(-3px);
    box-shadow: 0 0 5px 0 black;
}

.shipping_info_div{
    width: 20rem;
}