.perfil{
    text-align: center;
    width: fit-content;
    padding: 2em;
    border-radius: 2em;
    margin-top: 4em;
    margin-left: 4em;
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
    align-items: center;
    margin: 2em;
    background-image: url('../../img/PRODUSER.png');
    color: white;
}
.picture_dios_mio_gus{
    border-radius: 10em;
}
.all_gus{
    display: -webkit-flex; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
.orders{
    width: fit-content;
    margin: 2em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-image: url('../../img/PRODUSER2.png');
    color: white;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
}

.orders button{
    color:white;
    background-color: transparent;
    border: 3px solid white;
    transition: 0.3s;
}

.orders button:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: 0 0 5px 0 black;
    transform: translateY(-3px);
}

.product_dios_mio_gus{
    text-align: center;
    width: 15em;
}
.products{
    display: flex;
    flex-wrap: wrap;
}
.product_img_dios_mio_gus_container{
    width: 15vw;
}
.product_img_dios_mio_gus{
    width: 100%;
    box-shadow:  0.2em .2em 0.1em rgb(104, 104, 104);;
}

.orders_history{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

}

.orders_history_container{
    margin-right: 4rem;
    margin: 2em;
}

.each_order_history button{
    background: transparent;
    color: black;
    border: 3px solid black;
    transition: 0.3s;
}

.each_order_history button:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: 0 0 3px 0 black;
    transform: translateY(-2px);
}

.validation-container{
    width: fit-content;
    margin: 2em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-image: url('../../img/PRODUSER3.png');
    color: white;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
}

.validation-container button{
    color:white;
    background-color: transparent;
    border: 3px solid white;
    transition: 0.3s;
}

.validation-container button:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: 0 0 5px 0 black;
    transform: translateY(-3px);
}