.card-content-red {
    height: 28em;
    width: 18em;
    margin: 1em;
    position: relative;
    background: #cc0022;
    transition: 0.3s;
    border-radius: 0.3rem;
    color: #ffffff;
    text-align: center;
}

.card-content-red h4 {
    text-align: center;
}

.card-content-red:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
    transform: translateY(-3px);
    transition: 0.3s;
}

.card-content-darkred {
    height: 28em;
    width: 18em;
    margin: 1em;
    position: relative;
    background: #7f0b0b;
    transition: 0.3s;
    border-radius: 0.3rem;
    color: #ffffff;
    text-align: center;
}

.card-content-darkred:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
    transform: translateY(-3px);
    transition: 0.3s;
}

.card-content-blue {
    height: 28em;
    width: 18em;
    margin: 1em;
    position: relative;
    background: #243644;
    transition: 0.3s;
    border-radius: 0.3rem;
    color: #ffffff;
    text-align: center;
}

.card-content-blue:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
    transform: translateY(-3px);
    transition: 0.3s;
}

.card-content-lightblue {
    height: 28em;
    width: 18em;
    margin: 1em;
    position: relative;
    background: #3690d5;
    transition: 0.3s;
    border-radius: 0.3rem;
    color: #ffffff;
    text-align: center;
}

.card-content-lightblue:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
    transform: translateY(-3px);
    transition: 0.3s;
}

.card-content-green {
    height: 28em;
    width: 18em;
    margin: 1em;
    position: relative;
    background: #4b6005;
    transition: 0.3s;
    border-radius: 0.3rem;
    color: #ffffff;
    text-align: center;
}

.card-content-green:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
    transform: translateY(-3px);
    transition: 0.3s;
}

.card-content-orange {
    height: 28em;
    width: 18em;
    margin: 1em;
    position: relative;
    background: #fd6b08;
    transition: 0.3s;
    border-radius: 0.3rem;
    color: #ffffff;
    text-align: center;
}

.card-content-orange:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
    transform: translateY(-3px);
    transition: 0.3s;
}

.cart-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
}

.cart-price-container h5 {
    text-align: center;
    margin: 0;
    font-size: 2em;
    margin-bottom: -0.3em;
}

.addtocart-and-fav-button{
    display: flex;
    align-self: center;
    flex-direction: row-reverse;
    margin-bottom: 2em;
    margin-top: 1em;
}
.addtocart-and-fav-button button{
   margin: 0em 0em 1em 1em;
}

.card-image {
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 0.3rem;
}

.stars {
    margin: auto;
}

.discount {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background: chartreuse;
}

.discount h5 {
    font-size: 2em;
    margin: 0;
}

.views {
    position: absolute;
    bottom: 0;
    right: 0;
}

.views p {
    margin: 0;
    padding-right: 1em;
}
 
.add-to-cart-buton{
    color:white;
    background-color: transparent;
    border: 3px solid white;
    transition: 0.3s;
}

.add_to_cart_btn:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: 0 0 5px 0 black;
}

