.card_container {
    width: 27rem;
    height: 20rem;
    border: solid blue 5px;
    display:flex
}
.card_container_link {
    width:100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: hsla(0,0%,94.1%,.8);
    border-radius: 0.3rem;
    border: 1.6px solid hsla(0,0%,100%,.4);
    color: #464646;
    box-shadow: 1px 1px 5px rgb(20 20 20 / 80%);
    border: solid yellow 5px;
    margin: auto 0;
}

.card_container_link:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
    transition: transform .5s ease;
    transform: scale(1.03);
}

.card_container_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 13rem;
    max-width: 13rem;
    height: 100%;
    margin: 0.5rem;
    border: solid green 5px
}

.card_container_item_img {
    width: 13rem;
    margin: 0.5rem;
    border: solid brown 5px;
}

.product_img {
    max-width: 5rem;
    border-radius: 0.2rem;
    box-shadow: 3px 3px 5px rgb(20 20 20 / 80%);
    border: solid magenta 5px;
    object-fit: cover;
}

.product_name {
    font-size: 1rem;
    text-overflow: ellipsis;
    border: 5px solid red;
    max-width: 12rem;
    margin: auto;
}

.product_price {
    font-size: 2rem;
    font-weight: 700;
    border: solid orange 5px;
    margin: auto
}
