.card_container {
    position: relative;
    margin-bottom: 4rem;
    margin-right: 2.3rem;
    height: 19rem;
    width: 15rem;
    background: #fff
}
.card_container_link {
    width:100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: hsla(0,0%,94.1%,.8);
    border-radius: 0.3rem;
    border: 1.6px solid hsla(0,0%,100%,.4);
    color: #464646;
    box-shadow: 1px 1px 5px rgb(20 20 20 / 80%);
    margin-right: 100rem;
    position: relative;
    margin-bottom: 1.563rem;
    height: 318px;
    width: 250px;
    background: #fff
}

.card_container_link:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
    transition: transform .5s ease;
    transform: scale(1.03);
}

.card_container_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 13rem;
    max-width: 13rem;
    height: 100%;
    margin: 0.5rem;
}


.product_img {
  /*   max-width: 5rem;
    border-radius: 0.2rem;
    box-shadow: 3px 3px 5px rgb(20 20 20 / 80%);
    border: solid magenta 5px;
    object-fit: cover; */
 /*    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
    display: block;
    border-radius: 0.2rem;
    margin: 0.6rem;
    height: 11.5rem;
    width: 14.05rem;
    object-fit: cover;
    object-position: center center;
}

.product_name {
    font-size: 1rem;
    text-overflow: ellipsis;
    max-width: 12rem;
    margin: auto;
}

.product_price {
    font-size: 2rem;
    font-weight: 700;
    margin: auto
}
