.formproduct-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url('../../img/PRODDETFORM.png');
    box-shadow: 1px 1px 10px rgb(20 20 20 / 70%);
    border-radius: 0.3rem;
    color: white;
}

.form_select {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 3px rgb(20 20 20 / 70%);
    color: black;
}


.formproduct-form-container{
    width: 80rem;
    color: white;
}

.container-checkbox{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    margin:1rem;
    color: white;
}

.checkbox-li{
    text-decoration: none;
    list-style-type: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.formproduct-dropzone-container {
    display: flex;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    color: white;
}

.formproduct-dropzone-dropzone {
    display: flex;
    width: 100%;
    height: 70%;
    border: dashed white;
    margin: auto    
}


.formproduct-dropzone-dropzone-a{
    text-decoration: none;
    height: 20%;
    margin-top: 0.5rem;
    color: white;
}

.formproduct-dropzone-dropzone-p {
    margin: auto;
}

.formproduct-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.formproduct-form-input{
    display: flex;
}

.formproduct-form-input > input {
   font-size: 1rem;
   margin: 0 auto 0.5rem;
   width: 15rem;
   text-align: center;
   box-shadow: 1px 1px 3px rgb(20 20 20 / 70%);
}
.formproduct-form-text-area{
    width: 100%;
    display: flex;
}
.formproduct-form-text-area > textarea{
    overflow: hidden;
    font-size: 1rem;
    text-align: center;
    width: 25rem;
    height: 5rem;
    resize: none;
    box-shadow: 1px 1px 3px rgb(20 20 20 / 70%);
    margin: auto;
}

.formproduct-table-pagination-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.formproduct-table-pagination-container button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0.3rem;
    margin-top: 1rem;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.3s;
}

.formproduct-table-pagination-container button:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: 0 0 3px 0 black;
    transform: translateY(-2px);
}

.formproduct-images-container {
    width: 100%;
    height: 11rem;
    display:flex;
    margin-bottom: 1rem;
}

.formproduct-images-container button {
    display: flex;
    margin: auto;
}

.formproduct-images-container button:hover {
   background-color: rgb(187, 179, 179);
   transition: transform .5s ease;
   transform: scale(1.05);
}

.formproduct-images-item-container {
    width: 20%;
    margin: auto;
}

.formproduct-images-item-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.form_button{
    display: flex;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.form_button:hover {
    background-color: rgb(187, 179, 179);
    transition: transform .5s ease;
    transform: scale(1.05);
 }

.formproduct-dropzone-section {
    width: 80%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.trash {
    margin: auto
}