.card_container {
    position: relative;
    margin-bottom: 4rem;
    margin-right: 5rem;
    height: 19rem;
    width: 15rem;
}
.card_container_link_red {
    width:100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: hsla(0,0%,94.1%,.8);
    border-radius: 0.3rem;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgb(20 20 20 / 80%);
    margin-right: 100rem;
    position: relative;
    margin-bottom: 1.563rem;
    height: 350px;
    width: 250px;
    background: #cc0022;
    transition: 0.3s;
}

.card_container_link_red:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
}

.card_container_link_darkred {
    width:100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: hsla(0,0%,94.1%,.8);
    border-radius: 0.3rem;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgb(20 20 20 / 80%);
    margin-right: 100rem;
    position: relative;
    margin-bottom: 1.563rem;
    height: 350px;
    width: 250px;
    background: #7f0b0b;
    transition: 0.3s;
}

.card_container_link_darkred:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
}

.card_container_link_blue {
    width:100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: hsla(0,0%,94.1%,.8);
    border-radius: 0.3rem;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgb(20 20 20 / 80%);
    margin-right: 100rem;
    position: relative;
    margin-bottom: 1.563rem;
    height: 350px;
    width: 250px;
    background: #243644;
    transition: 0.3s;
}

.card_container_link_blue:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
}

.card_container_link_lightblue {
    width:100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: hsla(0,0%,94.1%,.8);
    border-radius: 0.3rem;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgb(20 20 20 / 80%);
    margin-right: 100rem;
    position: relative;
    margin-bottom: 1.563rem;
    height: 350px;
    width: 250px;
    background: #3690d5;
    transition: 0.3s;
}

.card_container_link_lightblue:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
}

.card_container_link_green {
    width:100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: hsla(0,0%,94.1%,.8);
    border-radius: 0.3rem;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgb(20 20 20 / 80%);
    margin-right: 100rem;
    position: relative;
    margin-bottom: 1.563rem;
    height: 350px;
    width: 250px;
    background: #4b6005;
    transition: 0.3s;
}

.card_container_link_green:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
}

.card_container_link_orange {
    width:100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: hsla(0,0%,94.1%,.8);
    border-radius: 0.3rem;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgb(20 20 20 / 80%);
    margin-right: 100rem;
    position: relative;
    margin-bottom: 1.563rem;
    height: 350px;
    width: 250px;
    background: #fd6b08;
    transition: 0.3s;
}

.card_container_link_orange:hover{
    box-shadow: 1px 1px 10px rgb(20 20 20 / 80%);
}

.card_container_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 13rem;
    max-width: 13rem;
    height: 100%;
    margin: 0.5rem;
}


.product_img {
    display: block;
    border-radius: 0.2rem;
    margin: 0.6rem;
    height: 11.5rem;
    width: 14.05rem;
    object-fit: cover;
    object-position: center center;
}

.product_name {
    font-size: 1.2rem;
    text-overflow: ellipsis;
    max-width: 12rem;
    margin: auto;
}

.product_price {
    font-size: 2.1rem;
    font-weight: 700;
    margin: auto;
    margin-bottom: 0.1rem;
}

.sold_out {
    opacity: 0.4
}

.add_to_cart_btn{
    height:2.5rem;
    width:2.5rem;
    color:white;
    background-color: transparent;
    border: 3px solid white;
    margin-top: -3rem;
    margin-right: -0rem;
}

.add_to_cart_icon{
    margin-left: -0.7rem;
    margin-top:-0.2rem;
}

.price_cart_line{
    flex-direction: row;
}

.delete-from-favs-button{
    display:flex;
    position: fixed;
    top:0;
    margin-left:-10em;
}

.delete-from-favs-button button{
    text-align: center;
    font-size: 1.2rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    border: 2px solid transparent;
    color: gray;
    transition: 0.3s;
}

.delete-from-favs-button button:hover{
    background-color: red;
    color: white;
    border: 3px solid white;
    transform: translateY(-3px);
    box-shadow: 0 0 5px 0 black;
}