.nav_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    justify-content: space-around;
    padding-top: 0.7rem;
    padding-bottom: 0.4rem;
    background-color: transparent;
 
}


.NavLink, .nav_container h4, button {
    color: black;    
    text-decoration: none;
    padding: 0.3rem 0.8rem ;
    border-radius: 4px;
    font-weight: 800;
}

.NavLink:hover {
    box-shadow: 1px 1px 5px rgb(20 20 20 / 80%); 
}

.nav_logo_icon {
    height: 5.3rem;
}
.desplegable{
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: transparent;
    
}
div[role='menu'] {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 2.5rem;
    border: 3px solid white;
    color: black; 
    border-radius: 3px;
    padding: .5rem;
}

div[role='menu'].visible {
    visibility: visible;
    color: black; 
}